{% extends "base_generic.html" %}

{% block content %}
<h2 class="title text-light">place a bet!</h2>
<div class="content_bit">
<form class="h4" method="post">
  {% csrf_token %}
  <div class="text-light tabl" style="display:flex; height:70vh; justify-content: space-evenly; flex-direction:column;">
    {% for error in form.non_field_errors %}
      {{error}}
    {% endfor %}
    <table>
      <thead>
        <td>match</td>
        <td style="text-align:left">{{ form.match }}</td>
      </thead>
      <tr>
        <td>team</td>
        <td style="text-align:left">{{ form.choice }}</td>
      </tr>
      <tr>
        <td>amount</td>
        <td style="text-align:left"><input type="number" style="width:20vh" name="amount" min="0" required="" id="id_amount"></td>
      </tr>
      <tr>
        <td colspan="2"><input style="margin:auto; background-color:transparent !important;" class="text-light bet_button" type="submit" value="Save"></td>
      </tr>
    </table>
  </div>
</form>
</div>
{% endblock %}