{% extends "base_generic.html" %}

{% block content %}
<div class="text-light" style="font-size:0.75em">
  <h2 class="title">events</h2>
  <div class="content_bit">
  <b><u>Basketball</u> </b>
  <br>
  Standard, 2 round elimination tournament. Lower bracket and upper bracket finals will determine final standings.
  Each team will pick 5 players to play. There is no requirement to substitute players; identical lineups are passable.
  Halves will be 10 minutes each, with a 5 minute break in between.
  <br><br>
  <b><u>Futsal</u></b> 
  <br>
  Standard, 2 round elimination tournament. Lower bracket and upper bracket finals will determine final standings.
  Each team will pick 5 players to play. There is no requirement to substitute players; identical lineups are passable.
  Halves will be 10 minutes each, with a 5 minute break in between.
  <br><br>
  <b><u>Valorant</u></b> 
  <br>
  Standard, 2 round elimination tournament. Lower bracket and upper bracket finals will determine final standings.
  Each team will pick 5 players to play. There is no requirement to substitute players; identical lineups are passable.
  Prior to each game, teams will take turns eliminating a map until there is only one map left. The team that doesn't pick the final map can choose to start Attacking or Defending.
  <br><br>
  <b><u>Clash Royale</u> </b>
  <br>
  Standard, 3 round elimination tournament. Lower bracket and upper bracket finals will determine final standings. 
  Top 4 teams will receive points.
  Note that this means it is possible for a team to receive 0 points for this event if both representative teams lose on the first round.
  Tournament gamemode will be 2v2. Each team will submit two teams of 2. Teams cannot be changed mid-tournament. Decks can be changed mid-tournament.
  <br><br>
  <b><u>Codenames</u></b>
  <br>
  <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)" class="text-light">Rules can be found here.</a><br>
  Standard, 2 round elimination tournament. Lower bracket and upper bracket finals will determine final standings. 
  Each team will select one codemaster per round, with the rest of the team guessing. 
  There is no requirement to substitute codemasters between rounds; using the same person more than once are passable.
  <br><br>
  <b><u>Quiz Night</u></b>
  <br>
  Will consist of 5 rounds. Final quiz night score totals will determine final standings. 
  Rounds will be: Music, Sports, General Knowledge, Entertainment, Perth Modern School History
  <br>
  </div>
  <h2 class="title">schedule</h2>
  <div class="content_bit">
  For more info on who's playing, check out the home page.
  <table class="tabl">
    <tr>
      <th>game</th>
      <th>start time</th>
    </tr>
    <tr>
      <th>basketball semi final 1</th>
      <th>10:00</th>
    </tr>
    <tr>
      <th>basketball semi final 2</th>
      <th>10:30</th>
    </tr>
    <tr>
      <th>basketball LB final </th>
      <th>11:00</th>
    </tr>
    <tr>
      <th>basketball UB final</th>
      <th>11:30</th>
    </tr>
    <tr>
      <th>futsal semi final 1</th>
      <th>12:00</th>
    </tr>
    <tr>
      <th>futsal semi final 2</th>
      <th>12:30</th>
    </tr>
    <tr>
      <th>futsal LB final </th>
      <th>1:00</th>
    </tr>
    <tr>
      <th>futsal UB final</th>
      <th>1:30</th>
    </tr>
    <tr>
      <th>valorant semi final 1</th>
      <th>2:30</th>
    </tr>
    <tr>
      <th>valorant semi final 2</th>
      <th>3:00</th>
    </tr>
    <tr>
      <th>valorant LB final </th>
      <th>3:30</th>
    </tr>
    <tr>
      <th>valorant UB final</th>
      <th>4:00</th>
    </tr>
    <tr>
      <th>codenames semi finals </th>
      <th>5:00</th>
    </tr>
    <tr>
      <th>codenames grand finals</th>
      <th>5:30</th>
    </tr>
    <tr>
      <th>clash quarter finals</th>
      <th>6:00</th>
    </tr>
    <tr>
      <th>clash semi finals</th>
      <th>6:10</th>
    </tr>
    <tr>
      <th>clash grand finals</th>
      <th>6:20</th>
    </tr>
    <tr>
      <th>quiz night</th>
      <th>6:30</th>
    </tr>
  </table>
  <br> 
  </div>
  <h2 class="title">points and betting</h2>
  <div class="content_bit">
  Each player will begin the tournament with 100 allocated points.
  Competing in events will reward entire teams with points, with higher performing teams earning more points.
  Note that even if you don't take part in an event, you'll still earn points corresponding to your team's performance. 
  <br><br>
  The 'twist' of this tournament is that, outside of earning points through events, you can also earn them betting on games!
  Each game will start with a small pot which is gradually added to by other players. 
  At the culmination of each match, the pool will be divided up between those who managed to bet correctly, in proportion to how much a player bet.
  <br><br>
  All matches can be bet on, other than the final Quiz Night, which is worth the most points.
  <br><br>
  High risk, and even higher reward - will this new system be your friend, or your foe?
  <br> 
  </div>
  <h2 class="title">prizes and forfeits</h2>
  <div class="content_bit">
  <u>Prizes</u>
  <br>
  Every member on the 1st place team will receive engraved championship rings for their achievements in this year's tournament. 
  <br><br> 
  No other teams will receive prizes.
  <br><br>
  <u>Forfeits</u>
  <br>
  Each member of the 3rd place team will be required to replicate a tiktok personally chosen by the MVP of the tournament. 
  This tiktok will need to be posted to at least 1 of your Instagram, Facebook or other commonly used social media. 
  <br><br>
  Each member of the 4th place team will be required to drink the stomach-churning concoction created by all other teams.
  Each team will bring one random (edible!) ingredient on the day. All ingredients will be blended and poured into equal sized portions for each member on the losing team.
  Simply finish your drink to end your forfeit! 
  </div>
  <h2 class="title">venues</h2>
  <div class="content_bit">
  (All tentative to change)
  <br><br>
  <u>Basketball & Futsal</u><br>
  Cannington Leisureplex 
  <br><br>
  <u>Valorant</u><br>
  Escape Portal 
  <br><br>
  <u>Codenames, Clash Royale & Quiz Night</u><br>
  Jordan's House
  <br> 
  </div>
  <br>
  </div>  
</div>
{% endblock %}
